
// Brand-primary
$color-beijing: #121212;
$color-thimphu: #FFFFFF;

// Brand-secondary
$color-kiev: #383E42;
$color-moscow: #595959;
$color-london: #B6B6B6;
$color-cardiff: #D7D7D7;
$color-berlin: #F2F2F2;
$color-chicago: #3E51B5;
$color-athens: #0F287F;

// Brand-tertiary
$color-amsterdam: #FED630;
$color-honolulu: #16C9B3;
$color-miami: #E2198B;

// Derived
$color-error-highlight: $color-miami;

$color-input-border: $color-moscow;
$color-input-background: $color-thimphu;
